/*gysin.css*/

a {
	text-decoration: none;
}

h1, h2, button, #home, #poesy {
	font-family: 'Special Elite', cursive;
}

#songspace, #chainspace {
	width: 35em;
	height: 35em;
	resize: none;
}

#songspace {
	height: 30em;
}

#title, #author {
	width: 35em;
	height: 2em;
	margin-bottom: 2px;
}

#splainin, #navbar, #editor, #instructions {
	max-width: 60em;
}

#instructions {
	font-size: .80em;
	padding-left: 1em;
	padding-top: 1em;
}

#editor {
	min-width: 60em;
	min-height: 35em;
}

.right, #home {
	float: right;
}


.left {
	float: left;
}

#poesy {
	margin-bottom: 1em;
}

/*
 * hack to enable html5 form validation without actually submitting the form
 * hidden submit input is .click()ed programatically when #save is clicked
 */ 
#noshow {
	display: none;
}

