/*gysin.css*/

a {
	text-decoration: none;
}

p, h1, h2, button, span, #navbar, #poesy, #spinnerspace, #saved, .poim {
	font-family: 'Special Elite', cursive;
}

button {
	font-size: 1.75em;
	border: solid transparent 1px;
	background: white;
}

body {
	margin: .5em;
	/*width: 26em;*/
}

span.glyphicon-hand-right, span.glyphicon-hand-left {
	font-size: 1em;
}

#navbar {
}

.nb {
	border: solid transparent 1px;
	margin-right: .25em;
}

.vote {
	margin-bottom: 1em;
}

#editor {
	margin-left: 1em;
}

#songspace, #chainspace, #spinnerspace, #bound, #poesy, #title, #author {
	width: 100%;
	height: 20em;
	resize: none;
}

#bound, #poesy {
	/* need the exta to pad out the bottom */
	height: 30em;
}

#chainspace {
	margin-bottom: 1em;
}

#title, #author {
	height: 2em;
	margin-bottom: 2px;
}

#splainin, #navbar, #editor, #instructions {
	max-width: 60em;
}

#instructions {
	font-size: .80em;
	padding-left: 1em;
	padding-top: 1em;
}

/*
 * hack to enable html5 form validation without actually submitting the form
 * hidden submit input is .click()ed programatically when #save is clicked
 */ 
#noshow {
	display: none;
}

.fb-like {
}

