/*gysin.css*/

a {
	text-decoration: none;
}

h1, h2, button, #home, #poesy, #spinnerspace {
	font-family: 'Special Elite', cursive;
}

#editor {
	margin-left: 20px;
}

#songspace, #chainspace, #spinnerspace, #bound, #poesy {
	width: 35em;
	height: 35em;
	resize: none;
}

#bound, #poesy {
	/* need the exta to pad out the bottom */
	height: 40em;
}

#chainspace {
	margin-bottom: 1em;
}

#songspace {
	height: 30em;
}

#title, #author {
	width: 35em;
	height: 2em;
	margin-bottom: 2px;
}

#splainin, #navbar, #editor, #instructions {
	max-width: 60em;
}

#instructions {
	font-size: .80em;
	padding-left: 1em;
	padding-top: 1em;
}

#home {
	float: right;
}

/*
 * hack to enable html5 form validation without actually submitting the form
 * hidden submit input is .click()ed programatically when #save is clicked
 */ 
#noshow {
	display: none;
}

.fb-like {
	margin-top: .5em;
}

