<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/gysin.css") }}"> 
		<link href="//fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
		<script type="text/javascript" src="{{ url_for("static", filename="js/lib/spin.min.js") }}"></script>
		<script type="text/javascript" src="{{ url_for("static", filename="js/gysin.js") }}"></script>

		<title>{% block title %}{% endblock %}</title>
		{% endblock %}
	</head>
	<body>
		<script type="text/javascript" src="{{ url_for("static", filename="js/lib/facebook-like-share.js") }}"></script>
		<div id="navbar"><a id="home" href="/">home</a></div>
		{% block content %}{% endblock %}
		{% block footer %}
		<br>
		<div
			class="fb-like"
			data-share="true"
			data-width="450"
			data-show-faces="true">
		</div>
		{% endblock %}
	</body>
</html>
