{% extends "base.html" %}
{% block title %}Cut-Up Generator / Epics{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block content %}
<h1>{{ author }}'s precious little poems</h1>
<div class="poim">
	{% for poem in poems %}
	<a href="/read/{{ poem.id }}">
		<div>{{ poem.title }} - {{ poem.created }}</div>
	</a>
		{% filter markdown %}
		{% endfilter %}
	{% endfor %}
</div>

{% if less %}
	<a href="/by-author/{{ author }}/{{ less.offset }}/{{ less.limit }}">
		<button>avast
			<span class="glyphicon glyphicon-hand-left"></span>
		</button>
</a>
{% endif %}

{% if more %}
<a href="/by-author/{{ author }}/{{ more.offset }}/{{ more.limit }}">
	<button>
		<span class="glyphicon glyphicon-hand-right"></span>
		behold
	</button>
</a>
{% endif %}
{% endblock %}
