{% extends "base.html" %}
{% block title %}Cut-Up Generator / Editor{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>editor</h1>
<div id="editor">
	<form>
		<div class="left">
			<h2>chain</h2>
			<textarea id="chainspace"></textarea>
			<br>
			<button id="more">more</button>
			<button id="chainspace-clear">clear</button>
			<button id="append">append =&gt;</button>
		</div>
		<div class="right">
			<h2>poesy</h2>
			<textarea id="songspace"></textarea>
			<br>
			<button id="songspace-clear">clear</button>
			<button id="save">save</button>
		</div>
	</form>
</div>
<div id="instructions">
	<strong>"chain"</strong> will start off with some intense-sounding gibberish, which you can edit.<br>
	<strong>"more"</strong> will add more gibberish to "chain".<br>
	<strong>"append =&gt;"</strong> will add the contents of "chain" to the "poesy" window.<br>
	<strong>"clear"</strong> wipes clears the window above.<br>
	<strong>"save"</strong> does not work yet.
</div>
{% endblock %}
