{% extends "base.html" %}
{% block title %}Cut-Up Generator / Editor{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>editor</h1>
<form id="gysinform">
	<div id="editor">
		<div id="instructions">
			<strong>"chain"</strong> will start off with some intense-sounding gibberish, which you can edit.<br>
			<strong>"more"</strong> will add more gibberish to "chain".<br>
			<strong>"append =&gt;"</strong> will add the contents of "chain" to the "poesy" window.<br>
			<strong>"clear"</strong> clears the window above.<br>
			<strong>"save"</strong> save your effort and view. No provision is made for "sharing to Facebook/Twitter/Whatever", so you'll have to cut-and-paste the url into an email.
		</div>

		<div id="bound">
			<h2>chain</h2>
			<div id="spinnerspace">Manifesting gibberish . . .</div>
			<div id="chainwrap">
				<textarea id="chainspace"></textarea>
				<br>
				<button id="more">more</button>
				<button id="chainspace-clear">clear</button>
				<button id="append">save &dArr;</button>
			</div>
		</div>

		<div id="poesy">
			<h2>poesy</h2>
			<input type="text" id="title" placeholder="title"></input>
			<br>
			<input type="text" id="author" placeholder="author"></input>
			<br>
			<textarea id="songspace"></textarea>
			<br>
			<button id="songspace-clear">clear</button>
			<button id="save">save</button>
			<input type="submit" id="noshow">
		</div>

	</form>
</div>

{% endblock %}
