{% extends "base.html" %}
{% block title %}Cut-Up Generator / Epics{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block navbar %}
{{ super() }}
<a class="nb" href="/">browse</a>
{% endblock %}
{% block content %}
<h1>precious little poems</h1>
<h2>{{ session.username }}</h2>
<div class="poim">
	{% for poem in poems %}
	<a href="/read/{{ poem.id }}">
		<div>{{ poem.title }} - {{ poem.created }}</div>
	</a>
		{% filter markdown %}
		{% endfilter %}
	{% endfor %}

{% if less %}
	<a href="/by-author/{{ author }}/{{ less.offset }}/{{ less.limit }}">
	avast	
	<span class="glyphicon glyphicon-hand-left"></span>
</a>
{% endif %}

{% if more %}
<a href="/by-author/{{ author }}/{{ more.offset }}/{{ more.limit }}">
	<span class="glyphicon glyphicon-hand-right"></span>
	behold
</a>
{% endif %}

</div>

{% endblock %}
