{% extends "base.html" %}
{% block title %}Gysin Cut-Up Editor{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for("static", filename="js/gysin.js") }}"></script>
{% endblock %}
<div id="navbar">
{% block navbar %}
{{ super() }}
<a href="/">browse</a><br />
<a href="/what-is-this">what is this thing?</a><br />
<a id="show-instructions">how does this work?</a>
{% endblock %}
</div>
{% block content %}
<h1>gysin cut-up machine</h1>
<form action="/publish" method="POST">
	<div id="editor">
		<div id="instructions">
			<strong>"chain"</strong> will start off with some gibberish.<br>
			<strong>"more"</strong> will add more gibberish to "chain".<br>
			<strong>"clear"</strong> clears the window.<br>
			<strong>"save"</strong> name and claim your effort, then ...<br>
			<strong>"publish"</strong> and view.
			<p><button id="got-it">got it</button></p>
		</div>

		<div id="bound">
			<h2>chain</h2>
			<div id="spinnerspace">Manifesting gibberish . . .</div>
			<div id="chainwrap">
				<textarea id="chainspace" name="foo"></textarea>
				<br>
				<button id="more">more</button>
				<button id="chainspace-clear">clear</button>
				<button id="save">save</button>
			</div>
		</div>

		<div id="poesy">
			<h2>poesy</h2>
			<input type="text" id="poem_title" name="title" placeholder="title"></input>
			<br>
			<textarea id="songspace" name="body"></textarea>
			<br>
			<button id="publish">publish</button>
			<input type="submit" id="noshow">
		</div>

	</form>
</div>

{% endblock %}
