{% extends "base.html" %}
{% block title %}Gysin-Style Cut-Up Generator{% endblock %}
{% block head %}
{{ super() }}
</script>
{% endblock %}
{% block content %}
<div id="wrapper">
<form>
	<div class="left">
		<textarea id="chainspace"></textarea>
		<br>
		<button id="more">MORE</button>
		<button id="chainspace-clear">CLEAR</button>
		<button id="append">APPEND -></button>
	</div>
	<div class="right">
		<textarea id="songspace"></textarea>
		<br>
		<button id="songspace-clear">CLEAR</button>
		<button id="save">SAVE</button>
	</div>
</form>
</div>
{% endblock %}
