{% extends "base.html" %}
{% block title %}Cut-Up Generator / Read{% endblock %}
{% block head %}
{{ super() }}
<!--load twitter button-->
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
<script type="text/javascript" src="{{ url_for("static", filename="js/lib/facebook-like-share.js") }}"></script>
<script type="text/javascript" src="{{ url_for("static", filename="js/read.js") }}"></script>
{% endblock %}
{% block navbar %}
{{ super() }}
<a class="nb" href="/">browse</a>
{% endblock %}
{% block content %}
<h1 id="poem-title">{{ poem.title }}</h1>
<h2 id="poem-author">{{ poem.author }}</h2>
{% block vote %}
{% if session.logged_in %}
	{% if not session.username == poem.author %}
<div class="vote">
	<a href="#">
		<button>
			ave!
			<span class="glyphicon glyphicon-thumbs-up"></span>
		</button>
	</a>
	<a href="#">
		<button>
			fie!
			<span class="glyphicon glyphicon-thumbs-down"></span>
		</button>
	</a>
</div>
	{% endif %}
{% endif %}
{% endblock %}
<div class="poim">
	{% filter markdown %}
	{{ poem.body }}
	{% endfilter %}
</div>
<span id="twit"></span>
<div class="fb-like" data-share="true" data-width="450" data-show-faces="true"> </div>
{% endblock %}
