{% extends "base.html" %}
{% block title %}Cut-Up Generator / Authors{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block content %}
<h1>by title</h1>
<div class="poim">
	{% for poem in poems %}
	<div>
		<a href="/read/{{ poem.id }}">
			{{ poem.title }} by {{ poem.author }}
		</a>
	</div>
	{% endfor %}
</div>

{% if less %}
	<a href="/titles/{{ less.offset }}/{{ less.limit }}">
		<button>avast
			<span class="glyphicon glyphicon-hand-left"></span>
		</button>
</a>
{% endif %}

{% if more %}
<a href="/titles/{{ more.offset }}/{{ more.limit }}">
	<button>
		<span class="glyphicon glyphicon-hand-right"></span>
		behold
	</button>
</a>
{% endif %}
{% endblock %}
