{% extends "base.html" %}
{% block title %}Log In or Sign Up{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
<div id="navbar">
{% block navbar %}
{{ super() }}
<a href="/">browse</a><br />
{% endblock %}
</div>
{% block content %}
<h1>Log In or Sign Up</h1>
{% if error is defined %}
<p>{{ error }}</p>	
{% endif %}

<h2>log in</h2>
<form id="login-form" method="POST">
	<span id="login-error"></span>
	<div class="row">
		<label for="username" class="cell">User Name: </label>
		{% if username is defined %}
		<input type="text" name="username" value={{ username }}></input>
		{% else %}
		<input type="text" name="username"></input>
		{% endif %}
	</div>

	<div class="row">
		<label for="password" class="cell">Password: </label>
		<input type="password" name="password"></input><br>
	</div>

	<div class="row">
		<label class="cell"></label>
		<input type="submit" value="Log In"></input>
	</div>
</form>

<h2>sign up</h2>
<form id="signup-form" action="/signup" method="POST">
	<div class="row">
		<label for="email" class="cell">Email: </label>
		<input type="email" name="email"></input>
	</div>

	<div class="row">
		<label class="cell"></label>
		<input type="submit" value="Sign Up"></input>
	</div>
</form>

{% endblock %}
